<footer id="footer">
    <div class="inner">
        <h2>Tato stránka byla vytvořena v rámci bakalářské práce</h2>
        <p>Autor: Nikola Benešová 2021</p>
        </p>

        <p class="copyright">&copy; Tento projekt je vytvořen v rámci bakalářské práce. V případě otázek mě kontaktujte na e-mailu: benesni1@uhk.cz
        </p>
    </div>
    <script>
        var scroll = new SmoothScroll('a[href*="#"]');
    </script>
</footer>